.footer {
    background-color: rgb(79, 79, 79);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4vw;
}

a {
    text-decoration: none;
}

.foot-nav {
    margin-top: 2vw;
    list-style: none;
    margin-left: -10vw;
}

.foot-link {
    color: white;
    text-decoration: none;
    font-size: 4vw;
    font-weight: 300;
}

.foot-socials {
    margin-top: 3vw;
    overflow: hidden;
}

.credit {
    font-size: 3vw;
    margin-top: 5vw;
    padding-bottom: 4vw;
}

@media (min-width: 750px) {
    .footer {
        padding: 1.5vw;
    }
    .foot-nav {
        margin-left: -2vw;
        line-height: 3vw;
    }
    .foot-link {
        padding-top: 10vh;
        font-size: 1.5vw;
    }
    .foot-socials {
        font-size: 3vw;
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    .credit {
        font-size: 1.5vw;
        padding-bottom: 1vw;
    }
}