.jumbo1 {
    z-index: -999;
}

.jumbo1-wrapper {
    background-color: rgb(64, 64, 64);
}

.jumbo1-image {}

.image1 {
    opacity: 50%;
    display: block;
    width: 100%;
}

.title {
    padding: 2vw;
    font-family: "Nunito", sans-serif;
    color: white;
    position: absolute;
    margin-top: -34vw;
    margin-left: 7vw;
    font-size: 2.8vw;
    font-weight: 200;
}