.showcase {
    margin-top: 2vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.show-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw;
}

.show-title {
    font-family: "Handlee", cursive;
    font-weight: 300;
    margin: 4vw 3vw 0 3vw;
}

.show-card {
    margin: 5vw 5vw;
    padding-bottom: 3vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 20px rgb(220, 218, 218);
}

.show-card-image {
    height: 30vh;
    width: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.show-bottom {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-title {
    font-family: "Handlee", cursive;
    font-weight: 300;
    font-size: 7vw;
    margin-top: 2vw;
    border-bottom: 1px solid rgb(152, 228, 152);
}

.card-text {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    padding: 2vw;
    line-height: 30px;
    color: rgb(103, 103, 103);
}

@media (min-width: 750px) {
    .show-container {
        display: flex;
    }
    .show-card {
        display: flex;
    }
    .show-card-image {
        height: 17vw;
        width: auto;
    }
    .card-title {
        font-size: 2vw;
    }
}

@media (min-width: 750px) {
    .show-container {
        flex-direction: row;
    }
    .card-image {
        margin-top: 0;
    }
}